.newp .option{
    overflow: hidden;
    margin-bottom: 10px;
}

/* 操作列 */
.newp .options-style{
    
}
.newp .options-style .inline-block{
    padding: 0 5px;
    height: 14px;
    line-height: 14px;
    overflow: hidden;
}
.newp .options-style .inline-block:first-child{
    border-right: 1px #4d7bfe solid; 
}

/* 弹框表单 */
.newp-w-modal .ant-form-item{
    margin-bottom: 5px;
}