.logistics .search{
    position: relative;
}
.logistics .search-tab{
    position: absolute;
    width: 120px;
    top: 10px;
    right: 10px;
    z-index: 0;
}

.logistics .option{
    overflow: hidden;
    margin-bottom: 10px;
}
.logistics .default-search{
    overflow: hidden;
}
.logistics .text-search{
    border-top: 1px #ddd solid;
    margin-top: 10px;
    padding-top: 10px; 
    overflow: hidden
}
.logistics .btn-search{
    width: 504px;
    overflow: hidden;
    margin-top: 15px;
    text-align: right;
}
.logistics .btn-search button{
    margin-left: 10px;
}
.logistics .height-search{
    overflow: hidden;
    margin-top: 14px;
    border-top: 1px #ddd solid;
}
.logistics .height-search .standard-form-row{
    overflow: hidden;
    margin-top: 10px;
}
.logistics .height-search .ant-form-item-control-wrapper, .logistics .height-search .ant-calendar-picker{
    width: 344px;
}



/* 物流信息 */
.logistics .clear{
    overflow: hidden;
    clear: both;
    padding-bottom: 5px;
}
.logistics .lgt-info {
    width: 184px;
}
.logistics .lgt-info .title{
    float: left;
    width: 84px;
    text-align: right;
    font-weight: 600;
}
.logistics .lgt-info .content{
    float: left;
    width: 100px;
    overflow: hidden;
}
.logistics .lgt-info .content span{
    display: block;
}

/* 流程信息 */
.logistics .time-info{

}
.logistics .time-info .item1, .logistics .time-info .item2{
    float: left;
}
.logistics .time-info .item1{
    width: 96px;
    margin-right: 10px;
    overflow: hidden;
}
.logistics .time-info .item1 .title{
    float: left;
    width: 48px;
    text-align: right;
    font-weight: 600;
}
.logistics .time-info .item1 .content{
    float: left;
    width: 48px;
    overflow: hidden;
}

.logistics .time-info .item2{
    width: 170px;
    overflow: hidden;
}
.logistics .time-info .item2 .title{
    float: left;
    width: 60px;
    text-align: right;
    font-weight: 600;
}
.logistics .time-info .item2 .content{
    float: left;
    width: 110px;
    overflow: hidden;
}
.logistics .anticon{
    font-size: 14px;
    font-weight: bold;
}
/* 操作 */
.logistics .options-style{
    overflow: hidden;
    width: 100px;
}
.logistics .options-style ul, .logistics .options-style ul li{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.logistics .options-style ul li{
    position: relative;
    float: left;
    color: #4d7bfe;
    padding: 0px 5px;
    cursor: pointer;
}
.logistics .ant-list-item-action-split {
    background-color: #e8e8e8;
    margin-top: -7px;
    position: absolute;
    top: 50%;
    right: 0;
    width: 1px;
    height: 14px;
}
