.reptilian .search{
    position: relative;
}
.reptilian .search-tab{
    position: absolute;
    width: 120px;
    top: 10px;
    right: 10px;
    z-index: 0;
}

.reptilian .option{
    overflow: hidden;
    margin-bottom: 10px;
}
.reptilian .default-search{
    overflow: hidden;
}
.reptilian .text-search{
    border-top: 1px #eee solid;
    border-bottom: 1px #eee solid;
    margin-top: 10px;
    padding-top: 10px; 
    padding-bottom: 15px;
    overflow: hidden;
    background: #fafafa;
}
.reptilian .btn-search{
    width: 504px;
    overflow: hidden;
    margin-top: 15px;
    text-align: right;
}
.reptilian .btn-search button{
    margin-left: 10px;
}
.reptilian .height-search{
    overflow: hidden;
}
.reptilian .height-search .standard-form-row{
    overflow: hidden;
    margin-top: 10px;
}
.reptilian .height-search .ant-form-item-control-wrapper, .reptilian .height-search .ant-calendar-picker{
    width: 344px;
}

/* 操作列 */
.reptilian .options-style .inline-block{
    padding: 0 5px;
    height: 14px;
    line-height: 14px;
    overflow: hidden;
    text-align: center;
}

.reptilian .options-style .ant-dropdown-trigger{
    color: #4d7bfe;
    cursor: pointer;
}

/* 详情页 */
.reptilian-detail .ant-form-item{
    margin-bottom: 10px;
}

.reptilian .tcloud-modal{
    margin-left: 0px;
}